body {
	margin: 0;
	padding: 0;
	font-family: 'Archivo', sans-serif;
	overflow-x: hidden;
}

a {
	color: #D73F3F;
	font-weight: bold;
	text-decoration-style: dotted;
	text-underline-offset: 0.2em;
}

a,
a:hover,
a:visited {
	color: #459ca0;
}

#map {
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

#mapInset {
	bottom: 50px;
	right: 30px;
	height: 180px;
	width: 250px;
	max-width: 100%;
	position: fixed;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	pointer-events: none;
}

#mapInset .mapboxgl-ctrl-bottom-left {
	display: none;
}

@media (max-width: 500px) {
	#mapInset {
		display: none;
	}
}

#header {
	margin: auto;
	width: 100%;
	position: relative;
	z-index: 1000;
	background: #fff;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url('../images/header_bg2.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-opacity: .1;
	background-size: cover;
	color: #E1E0E0;
	/* padding: 1vh 2vw; */
}

#header img {
	padding: 2vh 2vw;
}

#header p {
	margin: 0;
	padding: 2vh 3vw;
	text-align: left;
	font-family: 'Archivo', sans-serif;
}

#header h1 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .075em;
  line-height: 1.15;
	padding: 6vh 3vw 1vh 3vw;
  text-align: left;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

#header h2 {
  margin: 0;
  padding: 2vh 3vw;
  text-align: left;
  font-family: 'Archivo', sans-serif;
  width: 35%;
}

#dash-text {
  font-size: 1.6em;
  width: 35%;
  font-weight: bold;
  padding: 0 3vw 1vh 3vw !important;
}

#dash-text2 {
  font-weight: 500;
  font-size: 1.2em;
  width: 35%;
  padding: 0 3vw 1vh 3vw !important;
}

#intro-text {
  font-size: 1.2em;
  width: 35%;
}

@media (max-width: 425px) {
  #header h2, #dash-text, #dash-text2, #intro-text {
    width: 100%;
  }
}

#freeExplore {
      border: solid 2px #6C2020;
      color: #E1E0E0;
      padding: 20px;
      width: 150px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      display: block;
      margin: 2vh 3vw;
}

@media (max-width: 425px) {
  #freeExplore {
    margin: auto;
  }
}

#freeExplore:hover {
    background-color: #E1E0E0;
    color: #000;
    transition: 1s;
}

#freeExplore.active {
    background-color: #E1E0E0;
    color: #000;
}

h2.liftout {
	font-size: 2.6em;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 1px;
	line-height: 1.6em;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 1350px) {
  h2.liftout {
    font-size: 1.6em
  }
}

h3 {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #D73F3F;
}

.step.active h3:after {
	width: 80px;
}

.step.active h3:after,
.step h3:after {
	-webkit-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}

.step h3:after {
	display: block;
	content: "";
	height: 2px;
	width: 0;
	background-color: #fff;
	margin-top: 12px;
	opacity: .4;
}

@keyframes extend {
	from {
		width: 0;
	}

	to {
		width: 25%;
	}
}

#loader {
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 0;
	background: #000;
	opacity: .9;
	transition: opacity 1s ease-out;
	pointer-events: none;
}

#loaderSpin {
	border: 5px solid #333;
	border-top: 5px solid #d3d3d3;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: loadSpin 2s linear infinite;
	transition: opacity 0.5s ease-out;
	position: relative;
	top: 41%;
	margin: auto;
}

@keyframes loadSpin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

h4.impact-head {
	margin-bottom: .1em;
}

#separator {
	background: #D73F3F;
	height: 6px;
	width: 25%;
	animation-name: extend;
	animation-duration: 2s;
}


#footer {
	width: 100%;
	min-height: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	position: relative;
	z-index: 5;
	background: #fff;
	color: #68707F;
}

#features {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.hidden {
	visibility: hidden;
}

.centered {
	width: 50vw;
	margin: 0 auto;
}

.lefty {
	width: 33vw;
	margin-left: 5vw;
}

.righty {
	width: 33vw;
	margin-left: 62vw;
}

.fully {
	width: 100%;
	margin: auto;
}

.light {
	color: #444;
	background-color: #fafafa;
}

.dark {
	color: #fafafa;
	background-color: #101820;
}

.step {
	padding-bottom: 50vh;
	/* margin-bottom: 10vh; */
	opacity: 0.25;
}

.step.active {
	opacity: 0.9;
}

.step div {
	padding: 25px 50px;
	font: 18px 'Archivo', sans-serif;
}

.step p {
	line-height: 32px;
}

.step img {
	width: 100%;
}

/* Progress Bar CSS */

.progress-container {
	width: 100%;
	height: 4px;
	background: #717C7D;
	position: fixed;
	z-index: 9999;
}

.progress-bar {
	height: 4px;
	background: #FAA71E;
	width: 0%;
	top: 0;
	position: fixed;
}

@media (max-width: 750px) {

	.centered,
	.lefty,
	.righty,
	.fully {
		width: 90vw;
		margin: 0 auto;
	}
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
	touch-action: unset;
}

/* Legend CSS */

.legend {
	position: fixed;
	bottom: 30px;
	color: #E4E4E4;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
	padding: 10px;
	display: none;
	z-index: 1;
	margin-left: 25vw;
	border-radius: 5px;
	font-family: 'Archivo', sans-serif;
	font-weight: 400;
	font-size: small;
}

.legend h4 {
	margin: 0 0 10px;
}

ul.legend-ul {
	padding: 0;
	list-style-type: none;
}

ul.legend-ul li {
	float: left;
	padding-right: 10px;
}

.legend div span {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 5px;
	border: solid 1px #e37f1c;
	border-radius: 10px;
}

/* Footer CSS */

p.footnote {
	font-size: 14px;
	font-family: 'Archivo', sans-serif;
	font-style: italic;
}

#footer {
	width: 100%;
	min-height: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 2vh;
	text-align: left;
	line-height: 25px;
	font-size: 13px;
	position: relative;
	z-index: 5;
}

/* Chapter div overrides */

#letter-0 {
	margin-top: 20%;
}

 #chapter-12 .dark {
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url('../images/header_bg2.jpg');
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-opacity: .1;
   background-size: cover;
}

.flourish-credit {
	opacity: 0;
}

/* Mobile fallback */

@media (min-width: 450px) {
	#rotate-mobile {
		display: none;
		margin-top: 25px;
	}
}

#rotate-mobile p {
	font-weight: bold !important;
	text-transform: uppercase !important;
}
